#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #home {
    top: 50px;
    background-color: #4CAF50;
  }
  
  #lecturers {
    top: 110px;
    background-color: #2196F3;
  }
  
  #students {
    top: 170px;
    background-color: #f44336;
  }
  
  #subjects {
    top: 250px;
    background-color: Orange
  }

  #sessions {
    top: 310px;
    background-color: Tomato
  }

  #tags {
    top: 370px;
    background-color: SlateBlue
  }

  #days {
    top: 430px;
    background-color: Violet
  }

  #locations {
    top: 535px;
    background-color: #555
  }

  #timetables {
    top: 595px;
    background-color: brown
  }

  

  #lecturer {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
  }
  
  #lecturer td, #lecturer th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #lecturer tr:nth-child(even){background-color: #f2f2f2;}
  
  #lecturer tr:hover {background-color: #ddd;}
  
  #lecturer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  #subject {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
  }
  
  #subject td, #subject th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #subject tr:nth-child(even){background-color: #f2f2f2;}
  
  #subject tr:hover {background-color: #ddd;}
  
  #subject th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .add_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 3px solid green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }

  .lecturerheader {
    padding:5px;
    text-align: center;
    background: #2196F3;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .subjectsheader {
    padding:5px;
    text-align: center;
    background: Orange;
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
  