

.btn {

    /* width: 350px !important; */

    width: 20rem !important;
}
.dropdown-menu{
    width: 20rem !important;
}
.inner-container{

    /* background-color: bisque; */
    max-width: 50%;
    
 
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .btn-align{
      /* max-width: 100px; */
    align-items: flex-end  !important;
  }
  label{
     font-weight: 700;
  }
  