.heading{
    padding: 10px;
    background-color: aquamarine;
    
}

.main-container{
    max-width: 500px;
    max-height: 450px;
}

label{
    font-weight: bolder;

}
/* body{
    max-width: 500px;
    min-height: 450px;
} */

.form-group{
    
    background-color: aliceblue;
}