.add-btn-container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
   /* background-color: blueviolet; */
   margin: 10%;

}
a:link{
color: #ffff;
background-color: transparent;
text-decoration: none;

}
.add-btn{
    
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-hover:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} 

.table-body{
  background-color: rgba(236, 236, 236, 0.849);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
 td{
  color: black;
}

.table{
  border-radius: 5px;
}

.container-fluid{
  margin-left: 12rem !important;
}
.edit-btn{
  background-color: #4CAF50;
  color: #ffff;
  border-style: none;
  padding: 10px,15px,10px;
  /* border-radius: 20px; */

}
.edit-btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  padding: 15px ,10px;
  border-radius: 10px;
  transition: 250ms;
  margin: 1px;
}

.remove-btn{
  background-color: #ec0f0f;
  color: #ffff;
  border-style: none;
  padding: 10px,15px,10px;
}

.remove-btn:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  padding: 15px ,10px;
  border-radius: 10px;
  transition: 250ms;
  
}

.page-heading{

  
 margin-left: 8rem;
 margin-bottom: 25px;
 padding: 20px;
}

.display-6{
  text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0, .1),
                0 0px 5px rgba(0,0,0, .1),
                0 1px 3px rgba(0,0,0, .3),
                0 3px 5px rgba(0,0,0, .2),
                0 5px 10px rgba(0,0,0, .25),
                0 10px 10px rgba(0,0,0, .2),
                0 20px 20px rgba(0,0,0, .15) !important;

                color: rgb(240, 239, 239) !important;
                
}