.add-btn-container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
   /* background-color: blueviolet; */
   margin: 10%;

}
a:link{
color: #ffff;
background-color: transparent;
text-decoration: none;

}
.add-btn{
    
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-hover:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} 

/* new table ----------------------*/

@charset "UTF-8";
[data-sort-by="firstName"] [data-prop-name="firstName"], [data-sort-by="lastName"] [data-prop-name="lastName"], [data-sort-by="birth"] [data-prop-name="birth"] {
  background: rgba(0, 0, 128, 0.15);
  text-shadow: 0 1px #eee;
}
[data-sort-by="firstName"] [data-prop-name="firstName"]:before, [data-sort-by="lastName"] [data-prop-name="lastName"]:before, [data-sort-by="birth"] [data-prop-name="birth"]:before {
  box-shadow: 0 0 0.5em navy;
}
[data-sort-by="firstName"] .prop__name[data-prop-name="firstName"], [data-sort-by="lastName"] .prop__name[data-prop-name="lastName"], [data-sort-by="birth"] .prop__name[data-prop-name="birth"] {
  color: lightcyan;
}
[data-sort-by="firstName"] .prop__name[data-dir="1"][data-prop-name="firstName"]:after, [data-sort-by="lastName"] .prop__name[data-dir="1"][data-prop-name="lastName"]:after, [data-sort-by="birth"] .prop__name[data-dir="1"][data-prop-name="birth"]:after {
  content: "▲";
}
[data-sort-by="firstName"] .prop__name[data-dir="-1"][data-prop-name="firstName"]:after, [data-sort-by="lastName"] .prop__name[data-dir="-1"][data-prop-name="lastName"]:after, [data-sort-by="birth"] .prop__name[data-dir="-1"][data-prop-name="birth"]:after {
  content: "▼";
}

* {
  box-sizing: inherit;
}

body {
  background: #555;
  font: 1em/1.25 trebuchet ms, verdana, sans-serif;
  color: #fff;
}

table {
  box-sizing: border-box;
  overflow: hidden;
  margin: 4em auto;
  border-collapse: collapse;
  min-width: 23em;
  width: 70%;
  max-width: 56em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em #000;
}

thead {
  background: linear-gradient(#606062, #28262b);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

th {
  text-align: left;
}

tbody {
  display: flex;
  flex-direction: column;
  color: #000;
}

tr {
  display: block;
  overflow: hidden;
  width: 100%;
}

.odd {
  background: linear-gradient(#eeeeee 1px, #dddddd 1px, #cccccc calc(100% - 1px), #999999 calc(100% - 1px));
}

.even {
  background: linear-gradient(#eeeeee 1px, #bbbbbb 1px, #aaaaaa calc(100% - 1px), #999999 calc(100% - 1px));
}

[class*="prop__"] {
  float: left;
  position: relative;
  padding: 0.5em 1em;
  width: 40%;
}
[class*="prop__"]:last-child {
  width: 20%;
}
[class*="prop__"]:before {
  position: absolute;
  top: -0.5em;
  right: 0;
  bottom: -5em;
  left: 0;
  content: "";
}
[class*="prop__"]:after {
  position: absolute;
  right: 0.5em;
}
